.quote{
    height:0;
    overflow:hidden;
}
/*
     FILE ARCHIVED ON 17:25:32 Nov 09, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:53:40 Jan 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 274.411
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.062
  cdx.remote: 0.062
  esindex: 0.01
  LoadShardBlock: 219.082 (3)
  PetaboxLoader3.datanode: 346.987 (4)
  CDXLines.iter: 14.734 (3)
  load_resource: 2346.673
  PetaboxLoader3.resolve: 2198.972
*/