.cover{
    top:0px;
}
/*
     FILE ARCHIVED ON 19:23:10 Nov 19, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:52:58 Jan 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1506.786
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.074
  cdx.remote: 0.065
  esindex: 0.008
  LoadShardBlock: 62.975 (3)
  PetaboxLoader3.datanode: 99.627 (5)
  CDXLines.iter: 16.412 (3)
  load_resource: 1043.843 (2)
  PetaboxLoader3.resolve: 959.832 (2)
*/