

h2{
    text-align: center;
}


.bulle-link{
    margin-top: 46px;
}


/*
     FILE ARCHIVED ON 11:54:51 Nov 10, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:52:58 Jan 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 3036.077
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.064
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 34.645 (3)
  PetaboxLoader3.datanode: 65.947 (4)
  CDXLines.iter: 22.744 (3)
  load_resource: 199.497
  PetaboxLoader3.resolve: 143.994
*/